
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    @* SEO & Social Sharing Metadata (Open Graph & Twitter Cards) *@
    <meta name="description" content="chokolocos - Repostería artística y creativa. Diseñamos pasteles fondant, galletas decoradas y cupcakes temáticos a tu medida desde 2022." />
    
    <!-- Open Graph (Facebook, WhatsApp, LinkedIn, Discord) -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="chokolocos | Repostería Creativa y Diseños Únicos" />
    <meta property="og:description" content="Creamos repostería artística personalizada de alta calidad para endulzar tus momentos especiales." />
    <meta property="og:image" content="/img/chokolocos_logo.png" />
    <meta property="og:image:alt" content="Logo de chokolocos" />
    <meta property="og:site_name" content="chokolocos" />

    <!-- Twitter Card (X) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="chokolocos | Repostería Creativa y Diseños Únicos" />
    <meta name="twitter:description" content="Creamos repostería artística personalizada de alta calidad para tus momentos especiales." />
    <meta name="twitter:image" content="/img/chokolocos_logo.png" />

    @* <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="chokolocos.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    @* fontawesome *@
    <link href="/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="/lib/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/lib/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/lib/fontawesome/css/solid.css" rel="stylesheet" />

    @* Google Fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">

    @* bootstrap *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <HeadOutlet @rendermode="@(new InteractiveServerRenderMode(prerender: false))" />
</head>

<body>
    @* global styles *@
    <style>
        @@font-face {
            font-family: deli-cake;
            src: url('../../font/deli-cake/DeliCake.ttf') format('truetype');
        }

        @@font-face {
            font-family: sweets-delight;
            src: url('../../font/sweets-delight/SweetsDelight.ttf') format('truetype');
        }

        .deli-cake {
            font-family: deli-cake;
        }

        .sweets-delight {
            font-family: sweets-delight;
        }
    </style>

    <div id="app-pre-loader" class="d-flex bg-color">
        <div class=" align-self-center justify-content-center" style="height:100vh;width:100vw;">
            <p class="mt-5 fw-bold h1 text-center">
                <iframe src="https://lottie.host/embed/08ade492-f8f9-405d-8be6-cf8704760188/p6wHimMlYO.lottie"></iframe>
                <br />
                <label class="form-label">
                    Cargando ...
                </label>
            </p>
        </div>
    </div>

    <Routes @rendermode="@(new InteractiveServerRenderMode(prerender: false))" />
    <script src="components/pages/home.razor.js"></script>
    <script src="_framework/blazor.web.js"></script>
    @* bootstrap *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>

</html>