@page "/about"

<PageTitle>Acerca De</PageTitle>

<div class="p-3 content">
    <section class=" mb-4 card shadow-sm bg-body-tertiary rounded">
        <div class="card-body">
            <h3>Acerca de</h3>

            <article>
                <p>
                    <strong>chokolocos</strong> es una marca creada y diseñada por Leesly Meléndez desde <em>2022</em>
                </p>
            </article>

            <img class="rounded mx-auto d-block" src="img\chokolocos_logo.png" alt="logo chokolocos" style="max-height:200px; max-width:100%;" />

        </div>
    </section>

    <section class=" mb-4 card shadow-sm bg-body-tertiary rounded">
        <div class="card-body">
            <h5 class="card-title">Creditos y enlaces</h5>
            <ul>
                <li>
                    <a href="https://www.vecteezy.com/free-vector/bakery">Bakery Vectors by Vecteezy</a>
                </li>
            </ul>
        </div>
    </section>

</div>


@code {

}
