@page "/"

<PageTitle>chokolocos</PageTitle>

<div class="bg-image">
    <div class="d-flex justify-content-center align-items-center">

        <div class="center-content">

            <img class="rounded mx-auto d-block" src="img\chokolocos_logo.png" alt="logo chokolocos" style="max-height:200px; max-width:100%;" />

            <h1 class="text-center">Estamos preparando algo delicioso 😋</h1>

            <p class="text-center">
                <label>Enterate de las novedades en nuestras redes</label>
            </p>
            <div class="d-flex justify-content-center">

                <!-- Facebook -->
                <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #3b5998;" href="https://www.facebook.com/103492021490449" target="_blank" >
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>

                <!-- Instagram -->
                <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #ac2bac;" href="https://www.instagram.com/choko.locos" target="_blank" >
                    <i class="fab fa-instagram fa-2x"></i>
                </a>

                <!-- Tiktok -->
                <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #333333;" href="https://www.tiktok.com/@@chokolocos.2" target="_blank" >
                    <i class="fab fa-tiktok fa-2x"></i>
                </a>

                <!-- Whatsapp -->
                <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #25d366;" href="https://wa.me/15531914321" target="_blank" role="button">
                    <i class="fab fa-whatsapp fa-2x"></i>
                </a>

            </div>
        </div>

    </div>

</div>